
.form {
    display: block;
    background-color: white;
    color:#04AA6D;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 15px;
    border: 4px solid #04AA6D;
    border-radius: 25px;
    border-color: #333;
    font-style: serif;
    font-size: large;
}

input {
    justify-content: center;
    width: 45%;
    padding: 12px 20px;
}

.animation {
    font-size: 2.0em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 5%;
    animation-duration: 15s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    0% {
      margin-left: 80%;
      width: 30%
    }
    100% {
        margin-left: 0%;
        width: 30%
    }
  }