.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.banner {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(158,201,160,1) 42%, rgba(57,124,60,1) 100%);
    justify-content: space-between;
}